/* service */
.service-placeholder{
    background-color: #fff;
    height: auto;
    width: auto;
    overflow: hidden;
}

.card__image img {
    width: 100%;
    display: none;
}

.card__title .mediatitle {
    display: none;
}
  
.card__image.loading {
    height: 18.75rem;
    width: 100%;
}

.card__title {
    position: absolute;
    width: 100%;
    background-color: #141315bd;
}
  
.card__title.loading {
    position: absolute;
    text-align: center;
    width: 100%;
    background-color: lightgray !important;
    height: 4rem !important;
    bottom: 0rem;
}

/* blog */

.blog-placeholder-image{
    background-color: #fff;
    height: auto;
    width: auto;
    overflow: hidden;
}

.blog-placeholder-info{
    background-color: #fff;
    height: auto;
    width: auto;
    overflow: hidden;
}

.blog__card__image img {
    width: 100%;
    display: none;
}

.blog__card__image.loading {
    height: 14.75rem;
    width: 100%;
}

.blog__card__title .blog-title {
    display: none;
}
  
.blog__card__title {
    line-height: 1.4em;
    margin: 0 0 5px;
    width: 100%;
    
    font-size: 22px;
    font-weight: 700;
    line-height: 1.4em;
    margin: 0 0 5px;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    color: black;
}
  
.blog__card__title.loading {
    position: absolute;
    text-align: center;
    line-height: 1.4em;
    margin: 0 0 5px;
    width: 50%;
    background-color: lightgray !important;
    height: 2rem !important;
}

.blog__card__subtext .blogtime {
    display: none;
}
  
.blog__card__subtext {
    width: 100%;
    color:#a0a0a0;
    font-size: 12px;
}
  
.blog__card__subtext.loading {
    position: absolute;
    text-align: center;
    width: 50%;
    background-color: lightgray !important;
    height: 1.5rem !important;
    top: 3rem;
}

.blog__card__description .blog-descriptions {
    display: none;
}
  
.blog__card__description {
    width: 100%;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    margin-top: 1em;
    color: black;
}
  
.blog__card__description.loading {
    position: absolute;
    text-align: center;
    width: 100%;
    background-color: lightgray !important;
    height: 5rem !important;
    bottom: 4rem;
}

/* latest blogs */


.latest-blog-placeholder-image{
    background-color: #fff;
    height: auto;
    width: auto;
    overflow: hidden;
}

.latest-blog-placeholder-info{
    background-color: #fff;
    height: auto;
    width: auto;
    overflow: hidden;
}

.latest__blog__card__image img {
    width: 100%;
    display: none;
}

.latest__blog__card__image.loading {
    height: 5rem;
    width: 100%;
}

.latest__blog__card__title .latestblog-title {
    display: none;
}
  
.latest__blog__card__title {
    line-height: 1.4em;
    margin: 0 0 5px;
    width: 100%;
    
    font-size: 22px;
    font-weight: 700;
    line-height: 1.4em;
    margin: 0 0 5px;
    color: black;
}
  
.latest__blog__card__title.loading {
    position: absolute;
    text-align: center;
    line-height: 1.4em;
    margin: 0 0 5px;
    width: 50%;
    background-color: lightgray !important;
    height: 1.5rem !important;
}

.latest__blog__card__subtext .blogtime {
    display: none;
}
  
.latest__blog__card__subtext {
    width: 100%;
    color:#a0a0a0;
    font-size: 12px;
}
  
.latest__blog__card__subtext.loading {
    position: absolute;
    text-align: center;
    width: 50%;
    background-color: lightgray !important;
    height: 1rem !important;
    top: 3rem;
}


/* gallery */
.gallery-placeholder{
    background-color: #fff;
    height: auto;
    width: auto;
    overflow: hidden;
}

.gallery-card-image img {
    width: 100%;
    display: none;
}

.gallery-card-title .gallerycardh {
    display: none;
}
  
.gallery-card-image.loading {
    height: 18.25rem;
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.gallery-card-title {
    /* position: absolute; */
    width: 100%;
    background-color: #141315bd;
}
  
.gallery-card-title.loading {
    position: absolute;
    text-align: center;
    width: 100%;
    background-color: lightgray !important;
    height: 4rem !important;
    bottom: 0rem;
}

.gallery-preview-image img {
    width: 100%;
    display: none;
}
  
.gallery-preview-image.loading {
    height: 45.75rem;
    width: 100%;
}

/* loading animation */
.loading {
    position: relative;
    background-color: #e2e2e2;
}

.loading::after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: -webkit-gradient(linear, left top,
                right top, from(transparent), 
                color-stop(rgba(255, 255, 255, 0.2)),
                to(transparent));
                  
    background: linear-gradient(90deg, transparent,
            rgba(255, 255, 255, 0.2), transparent);

    animation: loading 0.8s infinite;
}

@keyframes loading {
    100% {
        transform: translateX(100%);
    }
}