@media screen and (min-width:991px) {
    .menu_btn { display:inline-block; }
  }
  @media screen and (max-width:992px) {
    .menu_btn { display:none !important; }
  }

  @media screen and (min-width:991px) {
    .appHide_btn { display:none; }
  }
  @media screen and (max-width:992px) {
    .appHide_btn { display:inline-block !important; }
  }
  @media(max-width:576px){
    .iminterestbtn {
        padding: 3% !important;
    }
   
    .clubHouseDetails {
        /* height: 620 !important; */
        overflow-y: auto !important;
    }
    .clubhouse-details {
        line-height: 28px !important;
        margin-top: 1% !important;
        color: white !important;
        text-align: left !important;
        margin-top: 2% !important;
    }

.clubhousedotpoints{
    margin-top: 3% !important;
    margin-left: 8%;
}
    #services{
        padding-top: -.5%;
    }
    .dashboardnames {
        font-size: 16px !important;
    }
    .dashboardnumbers {
        font-size: 25px !important;
    }
    .theNewmeTitle{
        font-size: 32px !important;
        margin-top: 15%;
    }
   
    .aboutheading {
        font-size: 30px !important;
        margin-top:20% !important;
       
    }
    .contactImage{
        margin-top: 13%;
    }
    .fitness-details-1 {
        color: white;
        font-size: 25px !important;
        text-align: left;
        line-height: 43px !important;
        margin-top: 7% !important;
    }
    .fitness-details {
        color: white;
        font-size: 25px;
        text-align: left;
        line-height: 40px !important;
        margin-top: 0% !important;
    }
    .fitness-details-1{
        font-size: 21px !important;
    }
    .fitness-details {
        font-size: 21px !important;
    }
    .fitness-bg {
        font-size: 35px !important;
    }
    .service-bg {
        font-size: 34px !important;       
         text-align: center !important;
    }
   
    .iminterestbtn {
        width: 45% !important;
        font-size: 14px !important;
    }
    .hed-txt {
        font-size: 28px !important;
    }
    .fit-bg{
        font-size: 28px !important;
        text-align: center !important;
    }
    .servicedescription {
        font-size: 20px !important;
    }
    .tabledata2 {
        font-size: 14px !important;
        padding: 12px 0 10px 13px !important;
    }
    .tabledata1 {
        font-size: 15px !important;
        padding: 12px 0 12px 35px !important;
    }
  }
  @media (max-width: 400px){
   
    .fitnessManageList{
        margin-left: 5% !important;
    }
    .hashtag-container {
        margin-left: -4% !important;
    }
    .thenewmeyellowborder {
        padding: 2% 2% !important;
    }
    .thenewmeheading {
        font-size: 10px !important;
    }
    .thenewmedetails {
        font-size: 6px !important;
    }
    .fitness-details {
        color: white;
        font-size: 25px;
        text-align: left;
        line-height: 36px !important;
        margin-top: 0% !important;
    }
    .fitness-details-1 {
        color: white;
        font-size: 25px;
        text-align: left;
        line-height: 30px !important;
        margin-top: 7% !important;
    }
.tabledata1 {
    padding: 12px 0 12px 20px !important;
}
  }
  @media (min-width:576px) and (max-width: 992px){
    .hashtag-container {
        margin-left: 1% !important;
    }
    .theNewmeTitle{
        margin-top: 10%;
    }

    /* .fixservicecardh {
        bottom: 3% !important;
        font-size: 21px !important;
        font-weight: 600 !important;
    } */
    .dashboardnumbers {
        margin-top: 19% !important;
        margin-bottom: 1% !important;
    }
    .dataenents-bg {
        padding: 5% 0% 11% 0% !important;
    }
    .btn-joinus {
        right: 5% !important;
    }
    .tabledata1 {
        padding: 12px 0 12px 40px !important;
    }
    .fit-bg{
        font-size: 40px !important;
        text-align: center !important;
    }
    .hed-txt {
        font-size: 36px !important;
    }
    .servicedescription {
        font-size: 25px !important;
    }
      }
      @media (min-width:992px) and (max-width: 1150px){
        .fit-bg{
            font-size: 45px !important;
            text-align: center !important;
        }
        .fitness-bg{
            margin-top: 1%;
        }
      }
      @media(min-width:992px){
        .detailsclose {
            margin-left: 95% !important;
        }
      }
      @media(max-width:992px){
       
        .service-bg {
            margin-top: 8% !important;
        }
        .carousel-caption h2{
            color: white !important;
        font-size: 50px !important;
          }
        .clubHouseDetails{
            /* height: 850px; */
            overflow-y: auto;
        }
    
        .detailsclose {
            margin-left: 80% !important;
        }
      }
      @media(min-width:400px) and (max-width:576px){
       
        .hashtag-container {
            margin-left: 0.5% !important;
        }
        .thenewmedetails {
            font-size: 16px !important;
        }
        .thenewmeheading {
            font-size: 11px !important;
        }
        .thenewmeyellowborder {
            padding: 0% 5%;
        }
      }
      @media(min-width:576px) and (max-width:768px){
     
        .contactImage{
            margin-top: 13%;
        }
        .modal-dialog {
            margin: 1.75rem auto !important;
        }
        .galleryimageModel {
            width: 96% !important;
            background-color: white;
        margin-left: .8%;
        margin-right: .8%;
        position: fixed;
        z-index: 3;
        }
      
        .thenewmedetails {
            font-size: 13px !important;
        }
        .thenewmeheading {
            font-size: 14px !important;
        }
        .thenewmeyellowborder {
            padding: 1% 4% !important;
        }
      }
      @media(min-width:1151px) and (max-width:1400px){
          .fitness-bg{
              margin-top: 1%;
          }
      }
      @media(min-width:1401px) and (max-width:1600px){
          .fitness-bg{
              margin-top: 1%;
          }
      }
      @media(min-width:1601px) and (max-width:2000px){
          .fitness-bg{
              margin-top: 1%;
          }
      }
      @media(min-width:2001px) and (max-width:2400px){
        .fitness-bg{
            margin-top: 1%;
        }
    }
      @media(min-width:768px) and (max-width:992px){
      
        .contactImage{
            margin-top: 9%;
        }
        .thenewmeheading {
            font-size: 21px !important;
        }
        .thenewmedetails {
            font-size: 17px !important;
        }
         
        .thenewmeheading {
            font-size: 19px !important;
        }
        .thenewmedetails {
            font-size: 18px !important;
        }
        .thenewmeyellowborder {
            padding: 1% 2% !important;
        }
      }
      @media(min-width:992px) and (max-width:1100px){
        .thenewmeyellowborder {
            padding: 1% 2% !important;
        }
        .thenewmedetails {
            font-size: 23px !important;
        }
        .thenewmeheading {
            font-size: 24px !important;
        }
      }
  
    /*About Us*/

@media(max-width:992px) {
    .fitness-bg{
        margin-top: 8%;
    }
  
    #website-nav{
      
            top: 0 !important;
            left: 0 !important;
            background: white;
            position: fixed !important;
            width: 100% !important;
            z-index: 11 !important;
            /* box-shadow: 1px 1px 1px -5px !important;
            padding: 9px 16px 11px 17px !important;
            position: fixed !important;
            z-index: 11 !important;
            width: 100% !important;
            border-radius: 0 !important;
            filter: drop-shadow(0px 5px 3px #ccc3bc) !important; */
    }
    
    .aboutUs {
         color: rgb(22 ,70 , 102);
         font-size: 43px;
         font-weight: 400;
         margin-top: 12.5rem !important;
     }
     .aboutheadingGallery{
         font-weight: 400;  
         font-size: 50px;
         color: rgb(22 ,70 , 102);
     }
     /* .galleryModal{
         padding-right: 1.5rem !important;
       padding-left: 0.5rem !important;
       padding-bottom: -1.5rem!important;
       height: 100%;
     } */
     .blogMargin{
         padding-left: 15px;
         margin-left: 25px;
         margin-right: 25px;
     }
     
 }
 @media(min-width:993px) and (max-width:1400px){
 .aboutUs{
     font-weight: 400;
 }
 .aboutheadingGallery{
     font-weight: 400;  
     font-size: 50px;
     color: rgb(22 ,70 , 102);
 }
 
 }
 @media(min-width:1200px) and (max-width:1500px){
     .aboutheadingGallery{
         margin-bottom: 25px;
         font-size: 50px;
         color: rgb(22 ,70 , 102);
     }
 }   
 @media (max-width: 992px){
    .dataenents-bg {
        padding: 8% 0% 9% 1%;
    
    }

    .noBlogData {
        font-size: 25px;
        text-align: center !important;
        color: #0b3d79;
        padding: 11% 0% 35%;
        display: block;
        /* margin-left: 56%; */
        margin: auto;
    }
     .contactpagebackground {
         height: 200px !important;
         background-size: 100% 100%;
         background-image: url('./images/wellness/wellness-contact-us-mobile.jpg');
     }
     /* .contact-title{
         margin-top: 38%;
     } */
 }

 @media (max-width: 576px) {
    .hashtag-container {
        margin-left: 0% !important;
    }
    .modal-dialog {
        margin: 1.75rem auto !important;
    }
    .blogdetailsclose{
        margin-left: 4% !important;
        margin-top: 11% !important;
    }

 }
 @media (min-width: 576px) and (max-width:768px) {
    
    .fitness-ng{
        margin-top:4% ;
    }
    .blogdetailsclose{
        margin-top: 7% !important;
    }
 }

 @media (min-width:992px){
    .noBlogData {
        font-size: 25px;
        text-align: center !important;
        color: #0b3d79;
        padding: 11% 0% 35%;
        /* display: block; */
        margin-left: 56%;
        /* margin: auto; */
    }
    .thenewmetitle {
        margin-top: 6% !important;
    }
 }
/* @media (max-width:768px){
    .thenewme-bg-image {
        content:url(./images/wellness/thenewme/wellness-thenewme-mobile.jpg) !important;
      }
}
@media (min-width:768px){
    .thenewme-bg-image {
        content:url(./images/wellness/thenewme/wellness-thenewme.jpg) !important;
      }
    
} */
@media only screen and (max-width: 768px){
    /* .thenewmecontent {
        height: 85% !important;
    } */
    .thenewmeyellowborder {
        height: 98% !important;
        padding: 11% 4% 11% 4% !important;
    }
}

      

    


@media(min-width:769px) and (max-width:968px){

    .thenewmedetails {
        font-size: 15px !important;
    }

    .thenewmeheading{
        font-size: 18px !important;
    }

}

@media(min-width:300px){
    .thenewmedetails {
        font-size: 12px !important;
    }
    
    .thenewmeheading{
        font-size: 15px !important;
    }
}


@media (min-width: 400px) { 
    .thenewmedetails {
        font-size: 15px !important;
    }
    
    .thenewmeheading{
        font-size: 18px !important;
    }

  
 }

 @media (min-width: 500px) and (max-width: 600px)  {
    .thenewmedetails {
        font-size: 20px !important;
    }

    .thenewmeheading{
        font-size: 22px !important;
    }
  
  }


  
  @media (min-width: 600px) and (max-width: 768px)  {
  .thenewmedetails {
        font-size: 22px !important;
    }

    .thenewmeheading{
        font-size: 25px !important;
    }
  }


  @media (min-width: 992px){
    .thenewmedetails {
        font-size: 21px !important;
    }
    .thenewmeheading {
        font-size: 28px !important;
    }
  }
 
 
  @media (min-width:993px)and (max-width:1200px){
    .btn-joinus {
        top: 1.5% !important;
    }
}

@media (min-width:993px)and (max-width:1200px){
.hashtag-container {
    margin-left: 3.5% !important;
}
}
@media (min-width:1201px)and (max-width:1500px){
.hashtag-container {
    margin-left: 3% !important;
}
}   
@media (min-width: 1501px){
.hashtag-container {
    margin-left: 2.6% !important;
}
}
@media (max-width: 992px)
{
.iminterestbtn {
    margin: 10% auto !important;
    padding: 3% !important;
}
}

@media(min-width:992px) {
    ul.clubhousedotpoints {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}
}

@media(max-width:370px){
    .clubhouse-details {
        font-size: 16px !important;
    }

    .clubhousedotpoints{
        font-size: 16px !important;
    }
}

@media (min-width:370px) and (max-width: 576px){
    .clubhouse-details {
        font-size: 20px !important;
    }

    .clubhousedotpoints{
        font-size: 20px !important;
    }
}

@media (min-width: 576px) {
    .clubhouse-details {
        font-size: 24px !important;
    }

    .clubhousedotpoints{
        font-size: 24px !important;
    }
}
@media (min-width:686px) and (max-width: 768px){
    .thenewmecontent {
        height: 43% !important;
    }
    }
    
    @media only screen and (max-width: 768px){
    .thenewmeyellowborder {
        height: 97% !important;
        padding: 11% 4% 11% 4% !important;
    }
}
@media (min-width:586px) and (max-width: 686px){
    .thenewmecontent {
        height: 48% !important;
    }
    }
    @media (min-width:500px) and (max-width: 586px){
        .thenewmecontent {
            height: 57% !important;
        }
        }
        @media (min-width:450px) and (max-width: 499px){
            .thenewmecontent {
                height: 42% !important;
            }
            }
            @media (min-width:350px) and (max-width: 450px){
                .thenewmecontent {
                    height: 50% !important;
                }
                }
                @media (min-width:300px) and (max-width: 350px){
                    .thenewmecontent {
                        height: 54% !important;
                    }
                    }
    
    
