#servicedeetailsection{
    margin: 5% 0 0 0;
    padding: 0;
}

 .servicedetailspage {
    margin-top: 0%;
    /* padding: 1.5% 2.5% 1.5% 4%; */
    padding: 1.5% 2% 1.5% 2%;
}

.servicedescriptionPadding {
    padding: 0% 2.5% 0% 4%;
}

.text-align-right {
    text-align: right !important;
}

.text-align-center {
    text-align: center !important;
}

.servicedetailsnew{
    background: transparent;
    padding: 0%!important;
    box-shadow: 3px 4px 5px -5px;
    background-color: #ffffff;
    overflow-y: scroll;
 }
 .subcategorydata{
     margin-top: 7%;
 }

 .service-detail-card{
    background-color: transparent !important;
}

.padding-service-image {
    padding: 0% 1%;
  }
  .serviceimgnew{
      height: 100%;
    object-fit: cover;
    object-position: 20% 10%;  
    
    }
    
    
    .hed-txt {
        font-size: 45px;
        color: #fff;
        width: 100%;
        font-family: 'Montserrat', sans-serif;
        right: 3%;
    }

    .servicedescription{
        color: #fff;
        font-size: 25px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
    } 

    .servicedescription a, .servicedescription a:hover, .servicedescription a:active, .servicedescription a:focus {
        color: inherit;
    }

    .categorydetails{   
        background: #1e2e5b;
        font-size: 22px;
        padding: 3%;
        color: white;
        font-weight: 700;
        margin-top: 0%;
    }
  .tabledata1{
      font-size: 17px;
      font-weight: 400;
      color: #1e2e5b;
      padding: 12px 0 12px 50px ;
  }

  .tabledata2{
      font-size: 19px;
      font-weight: 600;
      color: #1e2e5b;
      padding: 12px 0 12px 30px ;
  }

  .detailshead{
      margin-top: 2% !important;
  }

  .detailsclose {
    outline: none;
    color: #fff !important;
    font-size: 50px;
    font-weight: 0 !important;
    cursor: pointer;
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    right: -91%;
}
   
   
   .servicedetails{
       padding: 5% 0%;
       background: #5768AD;
   }
   
   .serviceicon{
       width: 20%;
       height: 35%;
   }
   

   .serviceimg{
       width: 100%;
       border: solid 15px #ffffff9e;
       box-shadow: 3px 4px 5px -5px;
       height: fit-content !important;
   }
   
   .subtitle {
       color: #5768AD;
       font-size: 16px;
       font-family: 'Montserrat', sans-serif;
       font-weight: 300;
   }
   
   .service-data {
       color: #5768AD;
       font-family: 'Montserrat', sans-serif;
       font-weight: 300;
       line-height: normal !important;
   }
   
   .strong-datadetails{
       color: #5768AD;
       font-family: 'Montserrat', sans-serif;
       font-weight: 300;
   }
   
   .iminterestbtn{
       width: 35%;
       display: block;
       margin: 3% auto;
       border: none;
       padding: 1%;
       font-weight: 700;
       font-size: 18px;
       /* text-transform: uppercase; */
       color: white !important;
       background-color: #1e2e5b;

   }
   
   button:focus{
       outline: none !important;
   }

   .fit-bg {
    background: linear-gradient(0deg, #00329594, #003295), url(./images/wellness/wellness-our-service.jpg);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    font-size: 50px;
    text-transform: capitalize;
    font-weight: 550;
   }


   .tagbtn{
    width: 100%;
   margin: 0% 0% 0% 0%;
   padding: 0 3% 0% 8%;
  }
  .tagbutton{
    width: auto;
    background-color: #e6edff !important;
      border: 1px solid #DAE0E5 !important;
      color: #1e2e5b !important;
      padding: 8px 16px !important;
      text-align: center !important;
      text-decoration: none !important;
      display: inline-block !important;
      font-size: 12px !important;
      margin: 4px 2px !important;
      box-shadow: 5px 10px 5px -15px !important;
      border-radius : 5px !important;
  }


  .onsitegap{
      margin-right: 1% !important;
  }