/******************************************************************
  Template Name: Zogin
  Description:  Phozogy Yoga HTML Template
  Author: Colorlib
  Author URI: https://colorlib.com
  Version: 1.0
  Created: Colorlib
******************************************************************/

/*------------------------------------------------------------------
[Table of contents]

1.  Template default CSS
	1.1	Variables
	1.2	Mixins
	1.3	Flexbox
	1.4	Reset
2.  Helper Css
3.  Header Section
4.  Hero Section
5.  Service Section
6.  Class Section
7.  Appointment Section
8.  Testimonial Product Section
9.  Contact
10.  Footer Style
-------------------------------------------------------------------*/

/*----------------------------------------*/

/* Template default CSS
/*----------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,500&display=swap');


html,
body {
	/* font-family: "DM Sans", sans-serif; */
    -webkit-font-smoothing: antialiased;
	overflow-x: hidden;
	scroll-behavior: smooth;
	overflow:initial;
	font-family: "Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important;
}



ul,
ol {
	padding: 0;
	margin: 0;
}


.padding-0{
    padding-right:0 !important;
    padding-left:0 !important;
}

.no-scroll::-webkit-scrollbar {
	display: none;
	
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
    filter: drop-shadow(0px 3px 3px #CCC3BC) !important;
}

/* mobile navbar */

.navbar-fixed-mobile .navimg{
    width: 100px;
    /* filter: drop-shadow(12px 5px 4px #ccc3bc); */
    align-self: end !important;
    padding: 2% 0% 0% 0%;
}

.navbar-fixed-mobile .nav-item a{
    color: #0b3d79 !important;
    font-weight: 500;
    margin-bottom: -12%;
    line-height: 45px;
}

.fixservicecardh{
    bottom: -1%;
}


.join-us-btn-mobile{   
    text-decoration: none;
    outline: none;
    font-size: 14px;
    padding: 16px 16px 14px;
    color: #ffffff !important;
    font-weight: 500;
    background: #5768AD;
    border-radius: 2px;
    letter-spacing: 2px;
    z-index: 4;
    text-align: center;
    margin: auto;
}


.navcontent{
    width: 50% !important;
    display: flex;
}

.navbar-toggler-mobile{
    padding: .25rem .75rem;
    }

@media (min-width: 300px) { 
 
    
    .navcontent{
        width: 100% !important;
        justify-content: flex-end;
    }

    .navnar-width {
        width: 60% !important;
    }


    .navbar-fixed-mobile .navimg{
        width: 100px;
    }

      
   
.navbar-toggler-mobile{

    padding: .25rem 2.70rem 0 0.80rem !important;

}
    
    
 }


 @media (min-width: 400px) { 
 
    
    .navcontent{
        width: 100% !important;
        justify-content: flex-end;
    }

    .navnar-width {
        width: 65% !important;
    }


    .navbar-fixed-mobile .navimg{
        width: 100px;
    }

    .navbar-toggler-mobile{

        /* padding: .25rem 4.3rem 0 0.80rem !important; */
        font-size: 1.25rem;
    
    }
   
    
 }
 @media (min-width:500px) and (max-width:700px) { 
    .navbar-toggler-mobile{
        font-size: 1.25rem !important;
    }
 }
@media (min-width: 576px) { 
    .navcontent{
        width: 80% !important;
        justify-content: flex-end;

    }
    .navbar-toggler-mobile{
        padding: .25rem 1.3rem 0 0.8rem !important;
        font-size: 1.85rem;
        /* padding: .25rem 4.3rem 0 0.80rem !important; */
        /* font-size: 2.25rem !important; */
    
    }

    .navnar-width{
        width: 70% !important;

    }
 }



 @media (min-width: 500px) {
    .navnar-width{
        width: 67% !important;
    }
    .navcontent{
        width: 100% !important;
        justify-content: flex-end ;

    }
  }

  @media (max-width: 576px) {
    .join-us-btn-mobile {
    font-size: 8px !important;
    padding: 13px 1px 9px 4px !important;
    }
    .offset-1 {
        margin-left: -7.333%;
    }
}
 @media (min-width: 600px) {
    .navnar-width{
        width: 70% !important;
    }
    .navcontent{
        width: 85% !important;
        justify-content: flex-end !important;

    }
  }

  @media (min-width: 768px) {
    /* .navnar-width{
        width: 100% !important;
    } */
    .navcontent{
        width: 100% !important;
        justify-content: flex-end ;

    }
    /* .join-us-btn-mobile{
        padding: 16px 16px 16px  !important;
  } */
   

.navbar-fixed-mobile .nav-item a {
  margin-left: 30px !important;
}

}
@media (min-width:992px){
    .join-us-btn-mobile{
        padding: 16px 16px 16px  !important;
  }
}


/* end mobile navbar */



/* -------------------
heder 
-----------------------*/
/* body{
    overflow: hidden;
  } */
.logoimg {
 display: block;
    width: 130px;
    margin: 1% 0 1% 8.5%;
}
.btn-joinus{   
text-decoration: none;
outline: none;
font-size: 14px;
padding: 16px 36px 14px;
color: #ffffff !important;
text-transform: uppercase;
font-weight: 700;
background: #5768AD;
border-radius: 2px;
letter-spacing: 2px;
position: fixed;
right: 7%;
top: 3%;
z-index: 5;
font-family: "Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.navbar-fixed {
top: 0;
left: 0;
background: white;
box-shadow: 1px 1px 1px -5px;
    padding: 10px 0px 0px 0px !important;
    position: fixed;
    z-index: 5;
    width: 100%;
    border-radius: 0;
}


.nav-item a {
    font-size: 14px;
    /* color: #ffffff !important; */
    font-weight: 700;
    padding: 5px 0;
    display: inline-block;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    /* position: relative; */
    margin-left: 35px;
	font-family: "Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

}

.navbar-fixed .nav-item a {
    color: #0b3d79 !important;
    font-weight: 500;
    /* margin-bottom: -12%; */
}

/*---------------------
  Footer
-----------------------*/

.footer {
	background: #263246;
	padding-top: 70px;
}

.footer__about {
	margin-bottom: 30px;
}

.footer__about ul {
	margin-bottom: 25px;
	margin-top: 20px;
}

.footer__about ul li {
	color: #9B9EA3;
	line-height: 37px;
	font-size: 15px;
	list-style: none;
}

.footer__about ul li i {
	font-size: 15px;
	color: #5768AD;
	margin-right: 5px;
}

.footer__about .subscribe-form {
	position: relative;
}

.footer__about .subscribe-form input {
	width: 100%;
	height: 50px;
	font-size: 14px;
	color: #999999;
	background: rgba(250, 250, 250, 0.1);
	border: none;
	border-radius: 2px;
	padding-left: 22px;
}

.footer__about .subscribe-form button {
	font-size: 20px;
	color: #ffffff;
	display: inline-block;
	background: #5768AD;
	padding: 0 15px;
	border: none;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
}

.footer__widget {
	margin-bottom: 30px;
}

.footer__widget h5 {
	font-size: 20px;
	color: #ffffff;
	margin-bottom: 25px;
}

.footer__widget ul li {
	list-style: none;
}

.footer__widget ul li a {
	font-size: 15px;
	color: #9B9EA3;
	line-height: 37px;
}

.footer__widget .footer-address li {
	list-style: none;
	font-size: 15px;
	color: #9B9EA3;
	line-height: 37px;
}

.footer__widget .footer-address li i {
	margin-right: 8px;
}

.footer__copyright {
	border-top: 1px solid rgba(225, 225, 225, 0.1);
	overflow: hidden;
	padding: 15px 0;
	margin-top: 20px;
}

.footer__copyright__text p {
	font-size: 14px;
	color: #6e7580;
	margin-bottom: 0;
}

.footer__copyright__text i {
	color: #a11f1f;
}

.footer__copyright__text a {
	color: #5768AD;
}

.footer__copyright__social {
	text-align: right;
}

.footer__copyright__social a {
	display: inline-block;
	font-size: 15px;
	color: #ffffff;
	margin-right: 25px;
}

.footer__copyright__social a:last-child {
	margin-right: 0;
}

.footaddress{
	margin-left: 0% !important;
}

/*---------------------
  Breadcrumb
-----------------------*/

/*--------------------------------- Responsive Media Quaries -----------------------------*/

@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}

/* Medium Device = 1200px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

/* Tablet Device = 768px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
}

/* Wide Mobile = 480px */

@media only screen and (max-width: 767px) {
	
}

/* Small Device = 320px */

@media only screen and (max-width: 479px) {
	
}
.no-underline:hover{
    text-decoration: none !important;
}
.no-underline:hover button{
    color: white !important;
    background-color: #1E2E5B;
}

.iminterestbtn{
	width: 35%;
	display: block;
	margin: 3% auto;
	border: none;
	padding: 1%;
	font-weight: 700;
	font-size: 18px;
	/* text-transform: uppercase; */
	color: white !important;
	background-color: #1e2e5b;

}

.footer__about img{
	width: 170px !important;
	margin-top: 2%;
}
/*Sanju*/

.aboutUsParagraph{
	color:#6E7580;
}
.galleryServiceCard{
	color: white;
    position: absolute;
    bottom: -2.5%;
    text-align: center;
    font-size: 11px;
    width: 100%;
    background-color: #141315bd;
    padding: 2.5% 0;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}
.mediatitleGalleryServiceCard{
	color: white;
    position: absolute;
    bottom: 9.5%;
    text-align: center;
    font-size: 11px;
    width: 89.5%;
    background-color: #141315bd;
    padding: 2.5% 0;
    font-weight: 700;
    letter-spacing: 1px;
}

/*Sanju*/
/* .serviceImage{
	height: 500px !important;
} */
.hashtag-container{
    margin-left: 4% !important;
}


/* gallery */

.service-card{
    /* height: 100%; */
    cursor: pointer;
    position: relative;
}

  
  .servicecategory-body {
    z-index: 2;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #141315bd;
    color: white;
    font-size: 24px;
    font-weight: 650;
    padding: 2.5% 0%;
  }

  .mediatitle{  
    color: white;
    position: absolute;
    text-align: center;
    font-size: 30px;
    width: 100%;
    background-color: #141315bd;
    padding: 2.5% 0;
    font-weight: 600;
}

.gallerycardh{
    color: white;
    position: absolute;
    text-align: center;
    font-size: 11px;
    width: 100%;
    background-color: #141315bd;
    padding: 2% 1.5%;
    font-weight: 500;
    letter-spacing: 1px;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.latestestblog{
    margin-top: 7%;
}


/* service top title gap  */

@media (min-width: 991px) {

    .servicetop-section {
        padding: 60px 0 30px 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: white;
    }

    .fitservicetop-section{
        padding: 60px 0 0 0;
    }

}

@media only screen and (max-width: 3000px) and (min-width: 2000px){
    .servicetop-section{
        padding: 75px 0 30px 0;
    }

    .fitservicetop-section{

        padding: 75px 0 0 0;

    }

}

@media only screen and (max-width: 2000px) and (min-width: 1500px){
    .servicetop-section{
        padding: 60px 0 30px 0;
    }

    .fitservicetop-section {
        padding: 60px 0 0 0;
    }
}
.noData{
    font-size: 25px;
    text-align: center !important;
    color: #0b3d79;
    display: block;
    margin: auto;
    padding: 11% 0% 10%;
}
.noGalleryData{
    font-size: 25px;
    text-align: center !important;
    color: #0b3d79;
    padding: 11% 0% 10%;
}
/* .noBlogData{
    font-size: 25px;
    text-align: center !important;
    color: #0b3d79;
    padding: 11% 0% 35%;
    display: block;
    margin: auto;

} */

.modal-open{
    overflow: auto;
    padding-right:0 !important;
}
.blogDiscription{
    font-size: 1rem;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    line-height: 1.6;
    color: black;
}
.modal-open .modal {
    overflow-x: unset !important;
    overflow-y: unset !important;
}
.footermobileicon{
    font-size:22px !important;
}
.footaddress{
    line-height: 29px !important;
}

.inherit {
    font-weight: inherit;
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    margin-bottom: 0;
    overflow: inherit;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}