<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="icon" href=".././favicon.ico">
  <title>Corporate Employee Health &amp; Wellness Blog | Wellness Associates</title>
  <meta name="description" content="Our Wellness Blog will keep you up-to-date on the latest workplace wellness trends and discover ways to motivate your employees. Click now!">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="../style.css" media="screen">
<link rel="stylesheet" type="text/css" href="../media.css" media="screen">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="../functions.js"></script>
<link rel="stylesheet" type="text/css" href="../image-skeleton.css" media="screen">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="../functions.js"></script>
        <script>
            $(function () {
                $(".blogdetail").each(function hyperlink(params) {
                    let description = this.innerHTML;
                    let hyperlinkTag = linkify(description);
                    this.innerHTML = "";
                    this.appendChild(hyperlinkTag); 
                });
                $.ajax({
                            url: `../api/latestBlog.php`, success: function (result) {
                                result.forEach(blog => {
                            $("#latestBlogsDiv").append(`<a class="row mt-4" href="../blogs/${blog.fileName}">
        <div class="col-lg-5 col-md-12 latest-blog-placeholder-image">
            <div class="latest__blog__card__image loading">
                <img class="blogimg w-100" onload="latestBlogImageLoadCompletion(this)" src="../api${blog.image}"
                    alt="${blog.title}" />
            </div>
        </div>
        <div class="col-lg-7 col-md-12 latest-blog-placeholder-info">
            <div class="latest__blog__card__title loading">
                <h1 class="latestblog-title text-md-left">${blog.title}</h1>
            </div>
            <div class="latest__blog__card__subtext loading">
                <span class="blogtime">
                    <p style="color: red;font-weight: 800"></p>
                    <span style="color:#a0a0a0; font-size: 12px;">&nbsp;&nbsp;
                        <i class="fa fa-clock-o"></i>&nbsp;${moment(blog.timeStamp).format("MMMM DD, YYYY")}
                    </span>
                </span>
            </div>
        </div>
    </a>`);
                        });
        
                            }
                        });
            });
        </script>
        <script src="../gtag.js"></script>
<style>

    #blogDetails a, #blogDetails a:hover, #blogDetails a:active, #blogDetails a:focus {
        color: inherit;
    }

    #blogDetails a:hover {
        text-decoration: underline;
    }
.blogdetail{
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}
#blogdetail{
    margin: 10% 0 0 0;
}

.blogdetailsclose{
    top: 10%;
    outline: none;
    font-size: 20px;
    font-weight: 100 !important;
    cursor: pointer;
    text-shadow: 0 1px 0 #fff;
    background-color: #fafafa;
    border: 1px solid #dae0e5;
    color: #666666;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 0px;
    cursor: pointer;
    box-shadow: 3px 4px 5px -15px;
    border-radius: 5px;
    z-index: 1;
}


.blogdetailcontainer{
    padding: 5% 0%;
    position: relative;
}

.detailspage{
    height: 100vh;
    overflow-y: scroll !important;
    z-index: 3;
    background-color: #fafafa;
}


.latest{
    border-bottom: 1px solid #0b3d79;
    width: fit-content;
    color: #495057;
    font-size: 20px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    color: #212121;
}

.blogtime{
    font-size: 12px;
    color: #a0a0a0;
    font-family: inherit;
}

.blogtime p{
    color: black;
    display: inline;
    font-size: 12px;
}


.blogdetail-title{
    color: #212121;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.15;
    /* margin: 0 0 .4em; */
    letter-spacing: -.04em;
    /* margin: 0 0 30px; */
}

.blogdetailimg{
    width: 100%;
}


.detailstab{
    width: 50% !important;
    margin-left: 7%;
}

/* latest */

.latestblog-title{
    font-size: 14px !important;
    font-weight: 700;
    color: black;
}

.blog-descriptions{
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    /* font-family: "Roboto",Helvetica,Arial,sans-serif; */
    font-size: 14px;
    line-height: 1.6;
    margin-top: 1em;
}

.recentpost h2 {
    background: #5768AD;
    color: #FFFFFF;
    float: left;
    font-size: 18px;
    line-height: 28px;
    padding: 4px 15px 0px;
    margin: 0px;
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: 1px;
}

.recentpost{
    border-bottom: 4px solid #5768AD;
    margin-bottom: 25px;
    overflow: hidden;
}

.blog-section .Addnewlistbtn {
    position: absolute;
    right: 5%;
    top: 1%;
    background-color: #1f467f;
    border-radius: 2.5rem;
    color: white;
    cursor: pointer;
    padding: 0.5% 1%;
    width: 17%;
}

.latest{
    border-bottom: 1px solid #0b3d79;
    width: fit-content;
    color: #495057;
    font-size: 20px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    color: #212121;
}

a:hover{
    text-decoration: none;
}

</style></head>

<body>


    <section class="header" id="navbarId"><script src="../header-sub-route.js" data-path="app/redirectTo=?%7B%22path%22:%22blogs/blogdetails%22,%22params%22:%2285%22,%22sidebar%22:%22%22,%22sidebarParams%22:%22%22%7D"></script></section>
    
    <section id="blogdetail">
    <div class="container ">
        <div class="row">
        <a class="blogdetailsclose" onclick="window.history.back();">Back</a>
    </div>
        <div class="row">
            <div class="col-lg-8 blogMargin" id="blogDetailsRow">
                
                  
            <div>
  <div class="row mt-5">
    <h1 class="blogdetail-title text-center text-md-left" id="blogDetailsTitle">Healthy Foods</h1>
  </div>
  <div class="row">
    <span class="blogtime">By:&nbsp;<p style="color: #f70d28; font-weight: 700;font-family: inherit; font-size: 13px" id="blogBy">Support</p><span>&nbsp;&nbsp;<i class="fa fa-clock-o"></i>&nbsp;<span id="blogDate">May 29, 2021</span></span></span>
  </div>
  <div class="row">
    <img class="blogdetailimg mt-4 w-100" id="blogDetailsImage" src="../api/blogimage/wellness-healthy-foods-0.43061600-1616408027.jpg" alt="Healthy Foods - 2 - Corporate Employee Health &amp; Wellness Blog" title="Healthy Foods - 2 - Corporate Employee Health &amp; Wellness Blog">
  </div>
  <div class="row">
    <h3 style="line-height: 1.7" class="blogdetail blogDiscription mt-3" id="blogDetails">The blog of bestselling food offers an exciting combination of healthy cooking and adventure. Having realized the dangers of overindulging in white carbohydrates as a teenager, Tori now devotes her life to making and unearthing low-carb dishes in practically every corner of the world. Her extensive archive of recipes allows readers to experience the health benefits for themselves, while the Travel section engagingly records her memories of eating out in fascinating cities.</h3>
  </div>
</div><div>
    <div class="row mt-5">
      <h2 class="blogdetail-title text-center text-md-left mb-0" id="blogDetailsTitle">Healthy Foods habit</h2>
    </div>
    <div class="row">
      <img class="blogdetailimg mt-4 w-100" id="blogDetailsImage" src="../api/blogimage/wellness-healthy-foods-habit-0.43159000-1616408027.jpg" alt="Healthy Foods habit - 2 - Corporate Employee Health &amp; Wellness Blog" title="Healthy Foods habit - 2 - Corporate Employee Health &amp; Wellness Blog">
    </div>
    <div class="row">
      <h3 style="line-height: 1.7" class="blogdetail blogDiscription mt-3" id="blogDetails">If you’re a vegetarian, vegan, an allergy sufferer or just a lover of wholesome food, finding the appropriate recipes can sometimes be tricky. Help is at hand, however. Coming from places such as the USA, UK these bloggers share their nutritional expertise and tasty recipes with millions of avid readers, proving how fun, inspirational and easy healthy cooking can be.</h3>
    </div>
  </div><div>
    <div class="row mt-5">
      <h2 class="blogdetail-title text-center text-md-left mb-0" id="blogDetailsTitle">Wellness events</h2>
    </div>
    <div class="row">
      <img class="blogdetailimg mt-4 w-100" id="blogDetailsImage" src="../api/blogimage/wellness-wellness-events-0.43232800-1616408027.jpg" alt="Wellness events - 2 - Corporate Employee Health &amp; Wellness Blog" title="Wellness events - 2 - Corporate Employee Health &amp; Wellness Blog">
    </div>
    <div class="row">
      <h3 style="line-height: 1.7" class="blogdetail blogDiscription mt-3" id="blogDetails">Coming from places such as the USA, UK these bloggers share their nutritional expertise and tasty recipes with millions of avid readers, proving how fun, inspirational and easy healthy cooking can be.</h3>
    </div>
  </div></div>

            <div class="col-lg-4 d-none d-lg-block pl-5 latestestblog" id="latestBlogsDiv">
                <span class="latest">Latest</span>
            </div>
        </div>
    </div>
</section>

<section class="footer">
    <script src="../footer-sub-route.js"></script>
  </section>
    

</body>