<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="icon" href=".././favicon.ico">
    <title>Corporate Yoga Workshops For Employees in Mumbai | Yoga Sessions For Employees</title>
    <meta name="description" content="Learn some basic yoga practices for effective concentration, ease, and flexibility amongst employees in our Yogic Way workshop for corporates &amp; employees!">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<link rel="stylesheet" type="text/css" href="../style.css" media="screen">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" type="text/css" href="../servicedetail.css" media="screen">
<link rel="stylesheet" type="text/css" href="../media.css" media="screen">
<script src="../functions.js"></script>
<script>
  $(function () {
    let descriptionTag = document.getElementById("serviceDescription");
    let description = descriptionTag.innerHTML;
    let hyperlinkTag = linkify(description);
    descriptionTag.innerHTML = "";
    descriptionTag.appendChild(hyperlinkTag);
  });
</script>
<script src="../gtag.js"></script>
<style>

   /* changed background image */
   .backgroundimg{
       background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../api/image/wellness-yogic-way-0.15378400-1616045317.jpg);
       background-repeat: no-repeat;
       background-size: cover;
   }
   
</style></head>




<body>

    <section class="header" id="navbarId"><script src="../header-sub-route.js" data-path="app/redirectTo=?%7B%22path%22:%22servicesView%22,%22params%22:282,%22sidebar%22:%22%22,%22sidebarParams%22:%22%22%7D"></script></section>
    
<section id="servicedeetailsection">
    <h1 class="fit-bg mb-0" id="serviceCategory">workshops and event</h1>
    <div class="backgroundimg">
    <div class="container-fluid servicedetailspage">
        <div class="row">
          <div class="col-6 detailshead">
            <h1 class=" hed-txt" id="serviceTitle">Yogic Way</h1>
          </div>
          <div class="col-6">
            <a class="detailsclose" onclick="window.history.back();">x</a>
          </div>
        </div>

        <h2 class="servicedescription" id="serviceDescription">While trends like SoulCycle and CrossFit come and go, Yoga has stood the test of time. And for right measure. Learn some basic yoga practices for effective concentration, ease, and flexibility amongst employees.</h2>


        <div class="card service-detail-card">

        <div class="row padding-service-image">
            <div class="col-lg-6 padding-0 ">
           <img class="w-100 serviceImage" id="service-card-image" src="../api/image/wellness-yogic-way-0.15378400-1616045317.jpg" alt="Wellness Workshops &amp; Events - Yogic Way" title="Wellness Workshops &amp; Events - Yogic Way">
            </div>

            <div class="col-lg-6 padding-0 servicedetailsnew no-scroll">
                <div class="container">
                    <div class="row">
                      <div class="col-6 padding-0 pr-1">
                        <h2 class="categorydetails text-center onsitegap">ONSITE</h2>
                    
                        <div class="subcategorydata">
                          <table>
                            <tbody><tr>
                              <td class="tabledata1">Budget</td>
                              <td class="tabledata2" id="serviceOBudgetRange">INR&nbsp;7000-15000</td>
                            </tr>
                            <tr>
                              <td class="tabledata1">Batch</td>
                              <td class="tabledata2" id="serviceOBatch">25-50</td>
                            </tr>
                            <tr>
                              <td class="tabledata1">Location</td>
                              <td class="tabledata2"><span id="serviceOLocations"><span>Pan-India<span></span></span></span></td>
                            </tr>
                          </tbody></table>
                        </div>
                    
                      </div>
                      <div class="col-6 padding-0">
                        <h2 class="categorydetails text-center">VIRTUAL</h2>
                        <div class="subcategorydata">
                          <table>
                            <tbody><tr>
                              <td class="tabledata1">Budget</td>
                              <td class="tabledata2" id="serviceVBudgetRange">INR&nbsp;7000-15000</td>
                            </tr>
                            <tr>
                              <td class="tabledata1">Batch</td>
                              <td class="tabledata2" id="serviceVBatch">Open</td>
                            </tr>
                            <tr>
                              <td class="tabledata1">Location</td>
                              <td class="tabledata2"><span id="serviceVLocations"><span>Pan-India<span></span></span></span></td>
                            </tr>
                          </tbody></table>
                        </div>
                      </div>
                    </div>

                      
                    
                      <div class="container hashtag-container" id="serviceEngagementTags"><span class="tagbtn tagbutton">#Socialwellness</span><span class="tagbtn tagbutton">#Mentalwellness</span><span class="tagbtn tagbutton">#Emotionalwellness</span></div>
                    </div>
                    <a class="no-underline" href="../app/redirectTo=?%7B%22path%22:%22servicesView%22,%22params%22:282,%22sidebar%22:%22InfoPage%22,%22sidebarParams%22:%22Yogic%20Way%22%7D" id="redirectFromIamInterestedButton"><button class="btn-secondary iminterestbtn">Know More</button></a>
            
            
                    </div>

            </div>
        </div>
    </div>
</div>
</section>


<section class="footer">
  <script src="../footer-sub-route.js"></script>

</section>
   


</body>