<a class="row mt-5" href="./blogs/generatedFileName">
    <div class="col-lg-5 blog-placeholder-image">
        <div class="blog__card__image loading">
            <img class="blogimg w-100" id="blogDetailsImage" onload="blogImageLoadCompletion(this)" src="./apigeneratedImagePath0" />
        </div>
    </div>
    <div class="col-lg-7 col-md-12 blog-placeholder-info">
        <div class="blog__card__title loading">
            <h1 class="blog-title  text-md-left" id="blogTitle"></h1>
        </div>
        <div class="blog__card__subtext loading">
            <span class="blogtime text-left" style="color:#a0a0a0; font-size: 12px;">By:
                <p id="blogBy" style="color: red;font-weight: 800;font-family: inherit; font-size: 10px;display: inline">
                </p>
                <span>
                    <i class="fa fa-clock-o"></i>
                    <span id="blogDate"></span>
                </span>
            </span>
        </div>
        <div class="blog__card__description loading">
            <h2 class="blog-descriptions" id="blogDetails"></h2>
        </div>
    </div>
</a>