<div>
    <div class="row mt-5">
      <h2 class="blogdetail-title text-center text-md-left" id="blogDetailsTitle"></h2>
    </div>
    <div class="row">
      <img class="blogdetailimg mt-4 w-100" id="blogDetailsImage" src="generatedImagePath" />
    </div>
    <div class="row">
      <h3 style="line-height: 1.7" class="blogdetail blogDiscription mt-3" id="blogDetails">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
    </div>
  </div>