<div class="col-lg-6 pb-5 gallery-placeholder">
  <div class="workshoplist w-100 gallery-preview-image loading">
    <img class="img-fluid w-100 galleryImagePreview" onload="galleryPreviewImageLoadCompletion(this)"
      src="generatedGalleryImagePreviewPath" >
  </div>
</div>