<a class="col-lg-3 col-md-12 pt-4" data-toggle="modal">
    <div class="service-card w-100 gallery-placeholder">
        <div class="gallery-card-image loading">
            <img class="card-img-top galleryImagePreview" onload="galleryImageLoadCompletion(this)" src="generatedImagePath0" />
          </div>
          <div class="gallery-card-title loading">
            <div class="servicecategory-body text-center gallerycardh" id="galleryTitle">
            </div>
          </div>
    </div>
</a>