<div style="padding-left: 0px !important;" class="modal fade bd-example-modal-xl no-scroll" id="galleryPreview" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div style="width: 94% !important; max-width: 94% !important;" class="modal-dialog ">
      <div class="modal-content no-scroll" style="">
        <div class=" galleryimageModel modal-header galleryimage">
          <div class="col-lg-6 col-md-6 col-sm-6">

          <h1 class="modal-title" id="galleryTitle"></h1>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 galleryModelClose">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" style="padding-bottom: 1rem;">&times;</span>
          </button>
        </div>
        </div>
      <div class="modal-body">
<div class="containerfluid galleryimageContainer ">
<div class="row" id="galleryPreviewRow">
</div>
</div>
</div>
</div>
</div>
</div>