<a class="col-lg-4 mt-4" href="generatedFileName">
    <div class="service-card w-100 service-placeholder">
        <div class="card__image loading">
            <img class="card-img-top" id="service-card-image" onload="serviceImageLoadCompletion(this)" src="./apigeneratedImagePath" />
        </div>
        <div class="card__title loading">
            <div class="servicecategory-body text-center mediatitle" id="serviceTitle"></div>
        </div>
    </div>
</a>